{% extends 'default/layout.html.twig' %}

{% block content %}
    <div class="io-content">
        <h1>{{ content.properties.title }}</h1>
        <div>{{ content.properties.content | raw }}</div>
    </div>
{% endblock %}
