<turbo-frame id="footer">
    <div class="io-logo">
        <img src="{{ asset('logo.svg') }}" class="w-full" alt="Les Amis de la Schlager">
    </div>
    <div class="io-title">APRES SKI CLOSING PARTY</div>
    <div class="text-center mb-5"><a href="mailto:admin@lesamisdelaschlager.ch">admin@lesamisdelaschlager.ch</a></div>
    {# <div class="flex flex-wrap gap-8 md:gap-16 justify-center items-center">
        {% for sponsor in sponsors %}
            {% if sponsor.images | length %}
                <div class="flex-initial w-44 p-2 bg-white border border-black rounded">
                    <a href="{{ sponsor.properties.link }}" target="_blank">
                        <img src="{{ asset('media/image/' ~ sponsor.images[0].folder ~ '/' ~ sponsor.images[0].fileName) ~ '.' ~ sponsor.images[0].extension }}" alt="{{ sponsor.properties.name }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div> #}
</turbo-frame>
