<turbo-frame id="footer">
    <div class="io-logo">
        <img src="{{ asset('logo.svg') }}" class="w-full" alt="Les Amis de la Schlager">
    </div>
    <div class="io-title">Après-Ski Closing Party</div>
</turbo-frame>
